# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore virtual environments
venv/
env/

# Ignore environment variable files
.env
.env.local
*.env

# Ignore logs and output files
*.log
*.out
*.txt

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE/project-specific files
.vscode/
.idea/
*.swp
